// Container break-points
$mobile: 799px;      
$tablet: 1279px;

// Colors 
$blue: #004685; 
$red: #D30531;
$black: #000;
$bg: #E9F0F7;
$white: #FFF;
$light-gray: #00468533;
$dark-gray: #00000075;
$blue-gray: #00468575;
$green: green;