.title-section
    .container 
        .title-section__inner
            h2.title.center
                span.title-desktop Здесь можно оплатить
                span.title-mob Узнайте, как оплатить
            .title-section__links
                a(href="#s1").title-section__link.js-link Штрафы ГИБДД
                a(href="#s2").title-section__link.js-link Судебные задолженности
                a(href="#s3").title-section__link.js-link Налоги
                br
                a(href="#s4").title-section__link.js-link Услуги Росреестра
                span и другие услуги