.title-section
    .container 
        .title-section__inner
            h2.title.center
                span.title-desktop Здесь можно оплатить
                span.title-mob Узнайте, как оплатить
            .title-section__links
                a(href="#s1").title-section__link Штрафы ГИБДД
                a(href="#s1").title-section__link Судебные задолженности
                a(href="#s1").title-section__link Налоги
                br
                a(href="#s1").title-section__link Услуги Росреестра
                span и другие услуги