.popup.popup--callback(id="popup--callback").js-popup
    .popup__container
        +svg("close popup__close js-popup-close","close","36px","36px")
        .popup__inner
            include ../form/form-callback