header.header      
    .header__burger.js-header-burger                
        .header__burger-line                   
        .header__burger-line                   
        .header__burger-line                   
    .header__logo-wrap 
        a(href="#").header__logo
            +svg("logo", "logo_site")
    .header__question
        .header__question-icon.js-header-question-icon
        .header__question-drop.js-header-question-drop
            .header__tel
                .header__tel-title Тел.поддержки
                a(href="tel:88001234567").header__tel-phone 8 800 123-45-67
            a(href="mailto:test@gmail.com").header__mail Написать письмо