section.partners
    .container 
        .partners__inner
            h2.title.center  С нами работают
            .partners__imgs
                .partners__img
                    img(src="assets/images/logo_partner1.png", alt="").partners__img-pict
                    p.partners__text Партнёр 1
                .partners__img
                    img(src="assets/images/logo_partner2.png", alt="").partners__img-pict
                    p.partners__text Компания-партнер с длинным названием
                .partners__img
                    img(src="assets/images/logo_partner3.png", alt="").partners__img-pict
                    p.partners__text Партнёр 3
                .partners__img
                    img(src="assets/images/logo_partner4.png", alt="").partners__img-pict
                    p.partners__text Название партнёра 4
                .partners__img
                    img(src="assets/images/logo_partner5.png", alt="").partners__img-pict
                    p.partners__text Компания-партнёра 5
                .partners__img
                    img(src="assets/images/logo_partner6.png", alt="").partners__img-pict
                    p.partners__text   
                        | Партнер 6
                        br 
                        | с длинным названием